footer.main-footer
  div.container
    div.main-footer__wrapper
      section.main-footer__contacts.contacts
  div.main-footer__bottom.bottom
    div.container
      div.bottom__wrapper
        a.main-footer__link(href="http://www.yogaspb.com") Yogaspb.com
        p.main-footer__copyright ©2018 Все права защищены
