header.main-header
  div.container-big
    nav.main-nav
      a(href="##") 
        img(src="@img/Sinthwave.jpg" alt="")
      a.phone-number(href="tel:88126901010") 8 (812) 690-10-10
      a.burger-menu(href="javascript:void(0);" onclick="myFunction()")
        span.burger-icon
      ul.nav-list
        li.nav-list__item
          a.nav-list__link(href="#groups" class="") Направления
        li.nav-list__item
          a.nav-list__link(href="#club-cards") Абонементы
        li.nav-list__item
          a.nav-list__link(href="#team") Команда
      


