@font-face {
                font-family: BebasNeue;
                font-display: swap;
                src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
                     url("../fonts/BebasNeue-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
